ACTION=="remove", GOTO="touchpad_end"
KERNEL!="event*", GOTO="touchpad_end"
ENV{ID_INPUT_TOUCHPAD}=="", GOTO="touchpad_end"

# Lenovo X1 Carbon 3rd
KERNELS=="serio1", \
    ATTRS{firmware_id}=="*LEN0048*", \
    ENV{ID_INPUT.tags}="has_trackpoint_buttons"

# Lenovo W451
KERNELS=="serio1", \
    ATTRS{firmware_id}=="*LEN004a*", \
    ENV{ID_INPUT.tags}="has_trackpoint_buttons"

# Lenovo T450s
KERNELS=="serio1", \
    ATTRS{firmware_id}=="*LEN200f*", \
    ENV{ID_INPUT.tags}="has_trackpoint_buttons"

LABEL="touchpad_end"
